.navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  color: rgb(196, 164, 164);

  .back{
    cursor: pointer;
    color: white;
  }

  .page{
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
}

.home{
  display: flex;
  flex-direction: column;
  
  .home-title{
    margin-bottom: 5px;
  }

  .home-info{
    margin-bottom: 5px;
  }

  .user-list{
    display: flex;
    flex-direction: row;
    width: 100%;

    .user-item{
      cursor: pointer;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: lightblue;
      width: 15%;
      margin-right: 20px;

      &:hover{
        background-color: blue;
      }
    }
  }
}

.user-detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;

  .user-avatar{
    width: 10%;
    height: 10%;
    border-radius: 100%;  
    margin-right: 20px;
    margin-left: 20px;

  }

  .user-info{
    display: flex;
    flex-direction: column;

    .user-name{
      margin-bottom: 10px;
    }

    .user-location{
      color: gray;
    }
  }
}
